@import colors
@import prefixes
@import 'components/triangle'
Colors = #ff7f00 #999999 #e41a1c #a65628 #984ea3 #f781bf
.ig
  @import basics
  @import LineChart
.ig
  position relative
  svg
    margin-top 20px
  .lines
    g.line
      path
        stroke-width 2
  svg.active .lines g.line:not(.active)
    opacity 0.2
  svg
    .axes
      .axis.x
        g.tick
          text
            opacity 0
  .legend
    ul
      margin 10px 0px 0px 30px
      padding 0px
      list-style-type none
      li
        padding-left 18px
        position relative
        &:before
          content ""
          position absolute
          top 50%
          margin-top -2px
          left 0px
          width 10px
          height 3px
        for Color, i in Colors
          &:nth-child({i + 1}):before
            background Color
  ul
    list-style-type none
    margin 0px
    padding 0px
    li
      float left
      width 1000px
      padding 3px 0px
      border-bottom 1px dotted #e
      .meta
        float left
        width 340px
        .disciplina
          float right
          font-size 15px
          margin-right 15px
        .zavod
          float right
          font-size 12px
          margin-top 2px
          margin-right 10px
      .result-area
        float left
        width 610px
        height 10px
        position relative
        .result
          position absolute
          padding-left 16px
          &:before
            content " "
            position absolute
            top 50%
            left 0px
            width 10px
            height 10px
            transform translate(0, -50%)
            background #3
            top 50%
            border-radius 50%
          &.result-1:before
            background #ff7f00
          &.result-2:before
            background #999999
          &.result-3:before
            background #e41a1c
      &.same-disciplina
        .meta .disciplina
          font-weight bold
        &.is-wc
          background lighten(#ff7f00, 80%)
  .selectors
    float left
    width 100%
    margin-top 10px
    padding-left 320px
    margin-bottom 20px
    .selector
      float left
      &:nth-child(2)
        margin 0px 20px
    select#selector-rocniky
      width 90px
    label
      float left
      margin-bottom 4px
      font-weight bold
    .chosen-container
      float left
      clear both
